@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
}

.body {
    margin: auto;
    padding: 0; 
    background-color: #fff;
}

.container {
    width: 1140px
}

.clear {
    clear: both;
}

/*CSS for Header, Logo and menu*/

.header {
    padding: 10px;
}

.logo {
    width: 30%;
    float: left;
}

.menu {
    width: 70%;
    float: left;
    overflow: hidden;
}

.menu a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 25px;
}

.menu a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 136, 255);
}
/*SLIDERS CSS STARTS HERE*/

.slider {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
  }
  
  .slider-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .slider-open:checked + .slider-item {
    position: static;
    opacity: 100;
  }
  
  .slider-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  
  .slider-item img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .slider-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  
  .slider-control.prev {
    left: 2%;
  }
  
  .slider-control.next {
    right: 2%;
  }
  
  .slider-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  
  #slider-1:checked ~ .control-1,
  #slider-2:checked ~ .control-2,
  #slider-3:checked ~ .control-3,
  #slider-4:checked ~ .control-4 {
    display: block;
  }
  
  .slider-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  
  .slider-indicators li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slider-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  
  .slider-bullet:hover {
    color: #aaaaaa;
  }
  
  #slider-1:checked
    ~ .control-1
    ~ .slider-indicators
    li:nth-child(1)
    .slider-bullet,
  #slider-2:checked
    ~ .control-2
    ~ .slider-indicators
    li:nth-child(2)
    .slider-bullet,
  #slider-3:checked
    ~ .control-3
    ~ .slider-indicators
    li:nth-child(3)
    .slider-bullet,
  #slider-4:checked
    ~ .control-4
    ~ .slider-indicators
    li:nth-child(4)
    .slider-bullet {
    color: #428bca;
  }
  
  #title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans", sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
      -1px 0px 2px rgba(255, 255, 255, 0);
  }
  /*SLIIDER CSS ENDS HERE*/

  /*Latest news*/

  .latest-three-news{
    padding: 0;
    margin: auto;
  }

  .latest-column-1 {
    width: 370px;
    float: left;
    padding-right: 10px;
 }

  .latest-column-2 {
    width: 370px;
    float: left;
    padding-right: 10px;
  
  }

  .latest-column-3 {
    width: 370px;
    float: left;
    padding-right: 10px;
  
  }

  .latest-news-image {
    width: 50%;
    padding-right: 15px;
  }

  .latest-news-text-style {
    text-align: justify;
    font-size: 14px;
  }

  .latest-news-article {
    padding: 10px 0;
    font-family: 'Asap';
  }

  /*read more link style*/

  .read-more-button {
    padding: 10px 20px;
    background-color: rgb(0, 136, 255);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: #fff;
    position: absolute;
  }

  .read-more-button:hover {
    padding: 10px 20px;
    background-color: rgb(0, 82, 153);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: #fff;
    position: absolute;
  }

  .latest-news-article {
    margin-top: 40px;
  }