@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
}

.body {
    margin: auto;
    padding: 0; 
    background-color: #fff;
}

.container {
    width: 1140px
}

.clear {
    clear: both;
}

/*CSS for Header, Logo and menu*/

.header {
    padding: 10px;
}

.logo {
    width: 30%;
    float: left;
}

.menu {
    width: 70%;
    float: left;
    overflow: hidden;
}

.menu a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 25px;
}

.menu a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 136, 255);
}

  /*Latest news*/

  .latest-three-news{
    padding: 0;
    margin: auto;
  }

  .latest-column-1 {
    width: 370px;
    float: left;
    padding-right: 10px;
 }

  .latest-column-2 {
    width: 370px;
    float: left;
    padding-right: 10px;
  
  }

  .latest-column-3 {
    width: 370px;
    float: left;
    padding-right: 10px;
  
  }

  .latest-news-image {
    width: 50%;
    padding-right: 15px;
  }

  .latest-news-text-style {
    text-align: justify;
    font-size: 14px;
  }

  .latest-news-article {
    padding: 10px 0;
    font-family: 'Asap';
  }

  /*read more link style*/

  .read-more-button {
    padding: 10px 20px;
    background-color: rgb(0, 136, 255);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: #fff;
    position: absolute;
  }

  .read-more-button:hover {
    padding: 10px 20px;
    background-color: rgb(0, 82, 153);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
    border-radius: 10px;
    color: #fff;
    position: absolute;
  }

  .latest-news-article {
    margin-top: 40px;
  }